* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fafbfd;
  color: #325eea;
}

.navbar-brand h4 {
  color: #325eea !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #4f6590 !important;
}

.fas {
  font-size: 17px !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.round-img {
  border-radius: 50%;
  margin: 12px 24px 0 0;
}

textarea {
  padding: 18px !important;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.landing-inner {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.w-5 {
  width: 5% !important;
}

.w-35 {
  width: 35% !important;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.text-20 {
  font-size: 20px;
}

.text-gray {
  color: #506690 !important;
}
